node_modules/
.sass-cache/
.nyc_output/
coverage/
dist/
es/

npm-debug.log*
.DS_Store
.idea/
public/

# gh-pages deploy
/index.html
bundle-*.js
styles-*.css
favicon.ico
__offline_serviceworker
/images/
/fonts/
